h1, p {
    text-align: center;
}

li:hover{
    background-color: rgba(38, 143, 38, 0.473);
}

li:active{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul, ol{
    list-style: none;
}